@main() {


    <br/>
    <br/>
    <br/>

    <section id="typography">
        <div class="page-header">
            <h1>Fun with Scala</h1>

        </div>

        <div class="row">
            <div class="span12">
                <h3>Ninety-Nine Scala problems</h3>

                <a href="http://aperiodic.net/phil/scala/s-99/">http://aperiodic.net/phil/scala/s-99/</a>

                <h3>Scala Puzzlers</h3>

                <a href="http://scalapuzzlers.com/">http://scalapuzzlers.com/</a>


            </div>


        </div>

    </section>


}
