@main() {


    <br/>
    <br/>
    <br/>

    <section id="typography">
        <div class="page-header">
            <h1>Learn Scala</h1>

        </div>

        <div class="row">
            <div class="span12">
                <h3>Learn Scala</h3>

                Reading "Programming in Scala" is a great way to get going, but a little heavy, if you are in a hurry.

                There are plenty of other material out there - books, tutorials, courses and stuff, see <a href="/study">
                Study Scala</a>

                Twitter has a great walkthrough of the basic principles in Scala.

                <a href="http://twitter.github.io/scala_school/">http://twitter.github.io/scala_school/</a>

                If you are already coding Scala and just wan't to play - see out code samples and or maybe the links on <a href="/fun">
                Fun with Scala</a>

                If you need concrete information on setting up Scala, check out our<a href="/howtos">How To's</a>

            </div>


        </div>

    </section>


}
