@(message: String)

@main(Messages("scala_user_group_aarhus")) {


    <br/>
    <br/>
    <br/>
    <header class="jumbotron subhead" id="overview">
        <div class="row">
            <div class="span6">
                <h1>SUGA</h1>
                <p class="lead">@Messages("scala_user_group_aarhus")</p>
            </div>
        </div>
    </header>

    <section id="typography">
        <div class="page-header">
            <h1>The Scala User Group Aarhus!</h1>
        </div>

        <div class="row">
            <div class="span12">
                <h3>What is SUGA?</h3>
                <p>
                    We are a group of Scala developers - enthusiasts or in spe - in Aarhus, Denmark, wanting to run a
                    supportive community for Scala related issues.
                </p>
                <p>
                    We meet every three months or so for a larger session, and inbetween for smaller code-hack fridays and the like.
                </p>
                <h3>Purpose of this website</h3>
                <ol>
                    <li>To make easily available in danish and english, inspirational as well as practical information for getting started with
                        Scala, and getting things done in Scala</li>
                    <li>To collect and distribute advice on convincing coworkers, bosses, customers and salespeople of the merits of Scala, and the value of
                        moving development efforts from Java. Including, off course, serious methods for discerning cases, where Scala is not a good choice.
                    </li>
                    <li>Document and dispell false claims, myths and misunderstandings about the technology and the Scala Community.
                    </li>
                </ol>    <p>
                    Calendar and meeting mails and discussions are currently on <a href="http://www.meetup.com/Scala-User-Group-Aarhus-SUGA">meetup</a>
                    </p>
                    <p>We have no intention at the moment of running a forum for debate, but if you have comments about the content of the site, please don't hesitate to tell us via email.</p>

                <h3>Who?</h3>

                Currently we are informally set up with:
                Steffen Jensen, sej@("@")miracleas.dk <br />
                Anders Bohn Jespersen, andersbohn@("@")gmail.com<br />
                Peter Jakobsen, pja@("@")miracleas.dk<br />



            </div>


        </div>

    </section>


}
