@main() {


    <br/>
    <br/>
    <br/>

    <section id="typography">
        <div class="page-header">
            <h1>Links</h1>

        </div>

        <div class="row">
            <div class="span12">
                <h3>Blog posts and articles</h3>

                <ul>
                    <li>Bruce Eckel, Artima, "Scala: The Static Language that Feels Dynamic"<br/>
                        http://www.artima.com/weblogs/viewpost.jsp?thread=328540</li>
                </ul>


                <h3>Scala Links</h3>
                <ul>
                    <a href="http://www.scala-lang.org/">Scala Language</a>
                    <a href="http://typesafe.com/">TypeSafe</a>
                    <a href="http://www.playframework.com/">Play Framework</a>
                    <a href="http://akka.io/">AKKA</a>

                    <a href="http://www.scalatest.org/">Scala Test</a>
                    <a href="http://www.scala-sbt.org/">SBT</a>
                </ul>

                <h3>Functional Programming Links</h3>
                <ul>
                    <a href="https://github.com/scalaz/scalaz">ScalaZ</a>
                    <a href="https://github.com/milessabin/shapeless">Shapeless</a>
                </ul>
            </div>


        </div>

    </section>


}
