@main() {


    <br/>
    <br/>
    <br/>

    <section id="typography">
        <div class="page-header">
            <h1>Study Scala</h1>

        </div>

        <div class="row">
            <div class="span12">
                <h3>Books</h3>

                Programming in Scala, Odersky, Spoon, & Venners
                Grundig indføring i sproget.
                <a hred="http://www.artima.com/shop/programming_in_scala_2ed">
                    http://www.artima.com/shop/programming_in_scala_2ed</a>

                <h3>Online kurser</h3>
                Odersky's Functional Programmering on Coursera:
                <a href="https://www.coursera.org/course/progfun">https://www.coursera.org/course/progfun</a>

                <h3>Presentations</h3>
                Bill Venners - The Feel Of Scala
                <a href="http://www.parleys.com/play/514892250364bc17fc56b9a5/chapter10/about">Available on Parleys</a>

                <h3>Tutorials</h3>

                Twitter has a great walkthrough of the basic principles in Scala.
                <a href="http://twitter.github.io/scala_school/">http://twitter.github.io/scala_school/</a>


            </div>


        </div>

    </section>


}
